<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add name="ConnectionString"
 providerName="System.Data.ProviderName"
 connectionString="Server=.;Database=BussinesManagementDb;integrated security" />
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>