<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<!--<add key="ConnectionString"
value="server=.;Database=BussinesManagementDb; integrated security=true;" />--> <!--localdb-->
		<add key="ConnectionString"
value="server=sql.bsite.net\MSSQL2016;Database=sfatektas2_BusinessManagementDb; User Id=sfatektas2_BusinessManagementDb;Password=Tr123456;" />
		<add key="IdentityConnectionString"
value="server=sql.bsite.net\MSSQL2016 ;Database=bsfatektas_; User Id=bsfatektas_; Password=Tr123456;" />
		<add key="Dolar" value="19,86"/> <!--eğer api ile ilgili bir sıkıntı olursa local olarak doviz girdileri--> 
		<add key="Euro" value="20,86"/>
	</appSettings>
</configuration>