<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="ConnectionString"
value="server=.;Database=BussinesManagementDb; integrated security=true;" />
		<add key="Dolar" value="19,86"/>
		<add key="Euro" value="20,86"/>
	</appSettings>
</configuration>